<!DOCTYPE html><html>
<head>
	<meta charset="UTF-8">
	<script src="/static/jquery-3.1.0.min.js"></script>
	<style>
		a{text-decoration:none; color:#FFFFEF}
		a:hover{color: #FFFF00}
		.ea{color:#ccccff}
	</style>
</head>
<body bgcolor="#336633">
	<a href='/list0' target='show'>所有级别</a><br>
	<a href='/list1' target='show'>关注级别</a><br>
	<a href='/list2' target='show'>重要级别</a><br><hr>
{% for category in categories -%}
<a href='/list/{{category|urlencode}}' target='show'>{{category}}</a><br>
{%- endfor %}
	<hr>
	<div id="enumber" class="ea"></div>
	<form action="/left" method="post">
		<font color=#FFFFFF>{{usertype}}</font>
		<font color=#99FFFF>{{username}}</font><br>
		<button name="name" value="logout">退出登录</button><br>
		<hr>
		<a href='/cateinfo' target='show'>版块信息</a><br>
		<a href='/panel' target='show'>控制面板</a>
{% if allowfetch -%}
		<br><br>
		<button name="name" value="fetch_mine">更新我的源</button>{% endif %}
	</form>
	<br><a href='/pad0' target='_top'>PAD版</a>
	<br><a href='/p' target='_top'>大屏手机版</a>
	<br><a href='/m' target='_top'>手机版</a>
<script type="text/javascript">
function ajaxCall() {
	$.get("/ajax_exception", function(result){
		$("#enumber").html(result);
	});
}
ajaxCall();
setInterval(ajaxCall, 300000);
</script>
</body>
</html>