<head>
	<title>InfoPi</title>
	<style>a{TEXT-DECORATION:none}</style>
	<style>.keepline{word-break: keep-all;}</style>
</head>

<body bgcolor="#ccccff">
共启用了{{source_num}}个信息源：
<table border="1" width="100%">
<tr>
    <td align="center">source_id</td>
    <td align="center">name/link</td>
    <td align="center">刷新间隔</td>
    <td align="center" class='keepline'>用户列表</td>
</tr>
{% for item in items %}
<tr bgcolor="{% if item.color == 1 %}#ff9999{% else %}#99cc66{% endif %}">
    <td>
    {{item.source_id}}
    </td>
    <td>
    <a href="{{item.link}}" target="_blank">{{item.name}}</a>
    </td>
    <td>
    {{item.interval_str}}
    </td>
    <td class='keepline'>
    {% for name in item.userlist %}{{name}}&nbsp;{% endfor %}
    </td>
</tr>
    <tr><td colspan="5">
{{item.comment}}
    </td></tr>
{% endfor %}
</table>
<br><br>
</body>