<!DOCTYPE html><html><head>
	<style>
a{TEXT-DECORATION:none}
table{border-spacing:1px}
.e{color:#cc33ff}
.s{color:#cc3300}
.p{color:#3333ff}
.nb{white-space:nowrap}
.h8{background-color:#FF99CC;white-space:nowrap}
.d1{background-color:#FFCC99;white-space:nowrap}
    </style>
</head>

<body bgcolor="#FFCC99">
<script type="text/javascript" src="/static/wz_tooltip.js"></script> 
<span style="float:left"><b>{{listname}}</b>，共有{{count}}条数据。</span>
<span style="float:right">{{htmlpage|safe}}</span><br>
<table bgcolor="#ccffcc" width="100%">
	<tr bgcolor="lightgray">
		<td align="center">来自</td>
		<td align="center">标题</td>
		<td align="center">获取时间</td>
	</tr>
{%- for entry in entries -%}
<tr{{ loop.cycle(' bgColor=Lavender', '') }}>
	<td width="18%">{{entry.author}}</td>
	<td>
{%- if entry.suid == '<exception>' -%}
<span class="e">e</span>
{%- endif -%}
{%- if entry.summary and entry.url -%}
<span class="s">s</span> <a href="{{entry.url}}" target="_blank" onmouseover="Tip('{{entry.summary}}')" onmouseout="UnTip()">{{entry.title}}</a>
{%- elif not entry.summary and entry.url -%}
<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
{%- elif entry.summary and not entry.url -%}
<span class="s">s</span> <span onmouseover="Tip('{{entry.summary}}')" onmouseout="UnTip()">{{entry.title}}</span>
{%- else -%}
{{entry.title}}
{%- endif -%}
	</td>
{%- if entry.pub_date -%}
<td {% if entry.temp == 1 %}class="h8"{% elif entry.temp == 2 %}class="d1"{% else %}class="nb"{% endif %} onmouseover="Tip('{{entry.pub_date}}')" onmouseout="UnTip()"><span class="p">p</span>{{entry.fetch_date}}</td>
{%- else -%}
<td {% if entry.temp == 1 %}class="h8"{% elif entry.temp == 2 %}class="d1"{% else %}class="nb"{% endif %}>&nbsp;&nbsp;{{entry.fetch_date}}</td>
{%- endif -%}
</tr>{% endfor %}
</table>
<span style="float:left">页面生成时间{{nowtime}}，生成页面数据历时{{time}}秒</span>
<span style="float:right">{{htmlpage|safe}}</span>
</body></html>