<!DOCTYPE html><html><head>
	<title>InfoPi</title>
	<style>a{TEXT-DECORATION:none}</style>
</head>

<body bgcolor="#ccccff">
共启用了{{source_num}}个信息源：
<table border="1" width="100%">
<tr>
    <td align="center">source_id</td>
    <td align="center">name/link</td>
    <td align="center">刷新间隔</td>
    <td align="center">用户列表</td>
</tr>
{% for item in items -%}
<tr bgcolor="{% if item.color == 1 %}#ff9999{% else %}#99cc66{% endif %}">
    <td>{{item.source_id}}</td>
    <td>{% if item.link %}<a href="{{item.link}}" target="_blank">{{item.name}}</a>{% else %}{{item.name}}{% endif %}</td>
    <td>{{item.interval_str}}</td>
    <td>{{item.userlist|safe}}</td>
</tr><tr><td colspan="4">{{item.comment}}</td>
</tr>
{% endfor %}
</table>
<br><br>
</body></html>