<html>
	<head>
		<title>InfoPi</title>
		<meta content="width=device-width" name="viewport">
		<style>
			a{text-decoration:none; color:#FFFFEF}
			a:hover{color: #FFFF00}
		</style>
	</head>
	
	<body bgcolor="#336633">
			<a href='/ml0'>所有级别</a>&nbsp;&nbsp;
			<a href='/ml1'>关注级别</a>&nbsp;&nbsp;
			<a href='/ml2'>重要级别</a><hr>
{% for category in categories %}<a href='/ml/{{category|urlencode}}'>{{category}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
			<hr>
		<form action="/m" method="post">
			<font color=#99FFFF>{{username}}</font>
			<button name="name" value="logout">退出登录</button><br>
{% if allowfetch %}<br>
			<button name="name" value="fetch_mine">更新我的源</button>{% endif %}
			<a href='/'>电脑版</a>
		</form>
	</body>
</html>