<!DOCTYPE html><html><head>
	<meta charset="UTF-8">
	<title>InfoPi</title>
	<meta content="width=device-width" name="viewport">
	<style>
a{TEXT-DECORATION:none}
a:link{color:#0000DD} 
table{border:1px solid;border-collapse:collapse}
td{border:1px solid}
.c{TABLE-LAYOUT:fixed;word-break:break-all}
.e{color:#cc33ff}
.s{color:#cc3300}
.nb{white-space:nowrap}
.h8{background-color:#FFACD1;white-space:nowrap}
.d1{background-color:#FFCC99;white-space:nowrap}
    </style>
</head>

<body bgcolor="#FFCC99">
<a href="/m">返回</a>&nbsp;&nbsp;
<b>{{listname}}</b><br>
{{htmlpage|safe}}
<table bgcolor="#ccffcc" width="100%">
{%- for entry in entries -%}
<tr>
	<td>{{entry.author}}</td>
	<td {% if entry.temp == 1 %}class="h8"{% elif entry.temp == 2 %}class="d1"{% else %}class="nb"{% endif %}>{{entry.fetch_date}}</td>
</tr><tr>
	<td colspan=2 class="c">
{%- if entry.suid == '<exception>' -%}
<span class="e">e</span>
{%- endif -%}
{%- if entry.summary -%}
<span class="s">s</span>
{%- endif -%}
{%- if entry.url -%}
<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
{%- else -%}
{{entry.title}}
{%- endif -%}
	</td>
</tr>{%- endfor -%}
</table>
{{htmlpage|safe}}<br>
生成于{{nowtime}}&nbsp;&nbsp;<a href="/m">返回</a>
</body></html>