<!DOCTYPE html><html><head>
	<title>InfoPi</title>
	<meta content="width=device-width" name="viewport">
	<style>
a{TEXT-DECORATION:none}
a:link{color:#0000DD;} 
table{border:1px solid black; border-collapse:collapse;}
td{border:1px solid black; padding:2px;}
.s{color:#cc3300}
.nb{white-space:nowrap}
    </style>
</head>

<body bgcolor="#FFCC99">
<a href="/m">返回</a>&nbsp;&nbsp;
<b>{{listname}}</b><br>
{{htmlpage|safe}}
<table bgcolor="#ccffcc" width="100%">
{%- for entry in entries -%}
<tr>
	<td>{{entry.author}}</td>
	<td class="nb"{% if entry.temp == 1 %} bgcolor=#FF99CC{% elif entry.temp == 2 %} bgcolor=#FFCC99{% endif %}>{{entry.fetch_date}}</td>
</tr><tr>
	<td colspan=2>
{%- if entry.summary -%}
<span class="s">s</span>
{%- endif -%}
{%- if entry.url -%}
<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
{%- else -%}
{{entry.title}}
{%- endif -%}
	</td>
</tr>{%- endfor -%}
</table>
{{htmlpage|safe}}<br>
页面生成时间{{nowtime}}&nbsp;&nbsp;<a href="/m">返回</a>
</body></html>