<!DOCTYPE html><html>
<head>
	<title>大屏手机版 - InfoPi</title>
	<meta content="width=device-width" name="viewport">
	<style>
		a{text-decoration:none; color:#FFFFEF}
		a:hover{color: #FFFF00}
		body{-webkit-text-size-adjust:220%}
		.ea{color:#ccccff}
	</style>
</head>
<body bgcolor="#336633">
		<a href='/plist0'>所有级别</a>&nbsp;&nbsp;
		<a href='/plist1'>关注级别</a>&nbsp;&nbsp;
		<a href='/plist2'>重要级别</a>
<hr>
{% for category in categories %}<a href='/plist/{{category|urlencode}}'>{{category}}</a>&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}
<hr>
	<form action="/p" method="post">
<span style="float:left">
	<font color=#FFFFFF>{{usertype}}</font>
	<font color=#99FFFF>{{username}}</font>
</span>
<span style="float:right">
	<button name="name" value="logout">退出登录</button>
</span>
<div style="clear:both"></div>

{% if allowfetch -%}
<span style="float:left">
	<button name="name" value="fetch_mine">更新我的源</button>
</span>{%- endif -%}
<span style="float:right">
	<a href='/m'>手机版</a>&nbsp;&nbsp;&nbsp;<a href='/'>电脑版</a>
</span>
<div style="clear:both"></div>
{% if except_num != None -%}
<a href='/pe' class="ea">{{except_num}}</a>
{%- endif %}
	</form>
</body>
</html>