<!DOCTYPE html><html><head>
	<meta charset="UTF-8">
	<title>InfoPi</title>
	<meta content="width=device-width" name="viewport">
	<style>
body{-webkit-text-size-adjust:180%}
a{TEXT-DECORATION:none}
a:link{color:#0000DD} 
table{border:1px solid;border-collapse:collapse}
td{border:1px solid}
.c{TABLE-LAYOUT:fixed;word-break:break-all}
.sm{background-color:#daeada;TABLE-LAYOUT:fixed;word-break:break-all}
.e{color:#cc33ff}
.nb{white-space:nowrap}
.h8{background-color:#FFB7D8;white-space:nowrap}
.d1{background-color:#FFCC99;white-space:nowrap}
    </style>
</head>
<body bgcolor="#FFCC99">
<a name="top"></a>
<span style="float:left"><b>{{listname}}</b></span>
<span style="float:right"><a href="/p">返回</a></span><br>
{{htmlpage|safe}}
<table bgcolor="#ccffd6" width="100%">
{%- for entry in entries -%}
<tr>
	<td>{{entry.author}}</td>
	<td {% if entry.temp == 1 %}class="h8"{% elif entry.temp == 2 %}class="d1"{% else %}class="nb"{% endif %}>{{entry.fetch_date}}</td>
</tr><tr>
	<td colspan=2 class="c">
{%- if entry.suid == '<exception>' -%}
<span class="e">e</span> {% endif -%}
{%- if entry.url -%}
<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
{%- else -%}
{{entry.title}}
{%- endif -%}
	</td>
</tr>
{%- if entry.summary -%}
<tr><td colspan=2 class="sm">
{{entry.summary}}
</td></tr>
{%- endif -%}
{%- endfor -%}
</table>
{{htmlpage|safe}}<br>
<span style="float:left">生成于{{nowtime}}，共{{count}}条</span>
<span style="float:right"><a href="#top">返回页面顶端</a> <a href="/p">返回</a></span>
</body></html>