<!DOCTYPE html><html><head>
	<title>InfoPi</title>
	<meta content="width=device-width" name="viewport">
	<style>
a{TEXT-DECORATION:none}
a:link{color:#0000DD;} 
table{border:1px solid black; border-collapse:collapse;}
td{border:1px solid black; padding:2px;}
.s{color:#cc3300}
.nb{white-space:nowrap}
body{-webkit-text-size-adjust:180%}
    </style>
</head>

<body bgcolor="#FFCC99">
<div>
<a href="/p">返回</a>&nbsp;&nbsp;
<b>{{listname}}</b>，共有{{count}}条数据<br>
{{htmlpage|safe}}
</div>
<table bgcolor="#ccffcc" width="100%">
{%- for entry in entries -%}
<tr{{ loop.cycle(' bgColor=Lavender', '') }}>
	<td>{{entry.author}}</td>
	<td class="nb"{% if entry.temp == 1 %} bgcolor=#FF99CC{% elif entry.temp == 2 %} bgcolor=#FFCC99{% endif %}>{{entry.fetch_date}}</td>
</tr><tr>
	<td colspan=2{{ loop.cycle(' bgColor=Lavender', '') }}>
{%- if entry.url -%}
<a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
{%- else -%}
{{entry.title}}
{%- endif -%}
	</td>
</tr>
{%- if entry.summary -%}
<tr><td colspan=2{{ loop.cycle(' bgColor=Lavender', '') }}>
{{entry.summary}}
</td></tr>
{%- endif -%}
{%- endfor -%}
</table>
<div>
{{htmlpage|safe}}<br>
页面生成时间{{nowtime}}&nbsp;&nbsp;<a href="/p">返回</a>
</div>
</body></html>